<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

	 <h2> Hi <%= @user.username %>, </h2>

	 <h4> We received a request to change your password on abhshoes. </h4>
	 <h4>Click <%= link_to "here", {:action => 'enterNewPassword', :controller=>"users", :confirm_token => @user.confirm_token} %> to set a new password. </h4>

  </body>
</html>