<% content_for :head do %>
<%= stylesheet_link_tag "admin.css" %> 
<% end %>
<div class="container">
	<div class="row">
	    <div class="col-md-1">
    	</div>

    	<div class="col-md-10">
    		
      	
    	<div class="admin_dashboard">
		<a href="/admin/categories" class="box_admin">
  			<h2><%= @categories.count %></h2>
  			<h3>categories</h3>
		</a>
		<a href="/admin/shoes" class="box_admin">
  			<h2><%= @products.count %></h2>
  			<h3>shoes</h3>
		</a>
		<a href="/admin/users" class="box_admin">
  			<h2><%= @users.count %></h2>
  			<h3>users</h3>
		</a>
		
    	</div>

      <div class="container" style="padding-top:175px; width:100%; margin-bottom:225px;">
      
        <a href="/admin/addCategory" class="btn btn-default btn-sm button-categories" role="button">Add Categories</a>
        <a href="/admin/addShoes" class="btn btn-default btn-sm button-shoes" role="button">Add Shoes</a>
        <a href="/admin/addUser" class="btn btn-default btn-sm button-users" role="button">Add Users</a>
        </div>


    	</div>

    	<div class="col-md-1">
    	</div>
    </div>
</div>