<% content_for :head do %>
<%= stylesheet_link_tag "login.css" %> 
<% end %>

<div class="container">
  <div class="container">
 	
	<div class="row row-center">
      <div class="col-md-4">
      </div>

	<div class="col-md-4">


		<h2><strong><%= flash[:success] %></strong></h2>
		<h2><strong><%= flash[:error] %></strong></h2>
		<div >
			<%= link_to "../sessions/new" do %>
			<h3 style="margin-bottom:100px">CLICK HERE TO LOGIN</h3>
			<%end%>
		</div>

	</div>
		<div class="col-md-4">
    	</div>
	</div>
</div>
</div>