<h1>abhShoes</h1>

<% if signed_in? %>
  <h2> Welcome <%= @user.username %></h2>
<% else %>
  <h2> Welcome </h2>
<% end %>

<p><%= link_to "Log Out", {:action => 'destroy', :controller=>"sessions" }%></p>





<!--
<% if signed_in? %>
  <h2>Special offers</h2>
  <p>All registered users will receive free monkeys!</p>
<% end %>=end -->
