 .nav-menu {
 	color: #fcf8e3;
 	font-size: 12px;
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	font-weight: bolder;
 	text-transform: uppercase;
 
 }
.cart {
	font-size: 16.5px;
	color: rgba(255, 255, 255, 0.87);
}
.cart:hover{
	color:rgba(255, 255, 255, 0.54);
}


.footer{
	color: rgba(128, 128, 128, 0.7);
 	font-size: 10px;
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	margin-left: 30px;
}
.hr{
    border: 0;
    border-top: 1px solid #EEE;
}
.username{
	color:rgba(255, 255, 255, 0.54);
 	font-size: 12px;
 	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	font-weight: bolder;
 	text-transform: none;
 	position: inherit;
    padding-top: 17px;
}
.navbar-dashboard{
	margin-left: 68px;
    padding-left: 15px;
    margin-right: 38px;
}
