h2{
	font-size: 18px;
	font-family: sans-serif;
}
h3{
	font-size: 14px;
	font-family: sans-serif;

}
h4{
	font-size: 13px;
	font-family: sans-serif;
	
	padding-top: 13px;


}
a{
	color: rgba(255, 167, 0, 0.74);
	text-decoration: none !important;
}
a:hover {
    color: #555;
}

.box{
	position: inherit;
    padding-top: 23px;
    padding: 34px;
    background-color: rgba(85, 85, 85, 0.05);
    border: 1px solid rgba(0, 0, 128, 0.11);
    margin: 0px;
    height:inherit;
}

p{
	font-size: 10px;
	font-family: sans-serif;
 	font-weight: bolder;
 	color: #555;
}
.remember{
	font-size: 10px;
	font-family: sans-serif;
 	font-weight: bolder;
 	color: #555;
}
.button-css {
	background: rgba(51, 50, 50, 0.95);
	color: white;
	font-size: 10px;
	font-family: sans-serif;
 	font-weight: bolder;
 	width: 118px;

}
.button-css:hover{
	color: rgba(255, 167, 0, 0.74);
}
.error {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bolder;
	color: red;
	text-align: left;
}