<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

	 <h2> Dear <%= @user.username %>, </h2>

	 <h4> Thank you for your recent purchase from abhshoes.ba! </h4>

	 <h3> Order ID: <%= @order.id %> </h3>

  </body>
</html>